@font-face {
    font-family: mine;
    src: url(mine.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mine;
}
html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: brown;
    border-radius: 50%;
    position:fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate();
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vw;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content h1{
    font-size: 18vw;
    font-family: mine;
    font-weight: 100;
    line-height: 27vw;
}
#page1-content h1 span{
    display: inline-block;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 2.8vw;
}

#page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid black;
}

#page2-top h3{
    font-size: 1.7vw;
    font-weight: 500;
}

.elem{
    overflow: hidden;
}
.elem h1{
    font-size: 4.2vw;
    font-weight: 500;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top{
    text-align: center;
}

#page3-top h4{
    font-size: 1vw;
    margin-bottom: 1vw;
    font-weight: 500;
}

#page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
}   
#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
}

#page3-elements .box{
    height: 100%;
    width: 32.5%;
    position: relative;
}
#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.8s;
}
#page3-elements .box:hover img{
    opacity: 0;
}

#new {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111; */
    background-color: #fff;
    padding: 10vh 10vw;
}

#new > h1 {
    font-size: 5.5vw;
    color: #000;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#new-content {
    /* background-color: red; */
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#new-content #right-6 {
    width: 70%;
}

#new-content #right-6 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
    /* letter-spacing: 1px; */
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#new-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
    transform: translateX(50%);
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 video{
    height: 100%;
}

.lol{
    width: 410px;
    height: 410px;
    border: 2px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
}
@-webkit-keyframes circle{
    0%{
        transform: rotate(0deg)translate(-205px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(-205px)rotate(-360deg);
    }
}
@keyframes circle {
    0%{
        transform: rotate(0deg)translate(-205px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(-205px)rotate(-360deg);
    }
    
}
#page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}
#page5 h1{
    font-size: 10vw;
    font-weight: 100;
    font-family: mine;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}
#swiperdiv{
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -5%;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 18%;
    object-fit: cover;
  }

  .swiper {
    width: 130%;
    height: 100%;
  }

  #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
  }
  #loader h3{
    font-size: 2vw;
  }

  #page7 {
   
    background-color: #111;
}

.strip{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-color: #fff;
    padding: 0vw 10vw;
    gap: 5vh;
  }
  
  .strip h3{
    font-size: 1.3vw;
  }
  
  .strip img{
    width: 80vw;
  }

  #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,#f2,#f3,#f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  #f2 h3:hover {
    color: white;
    -webkit-text-stroke: 2px white;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f3 h3:hover {
    color: white;
    -webkit-text-stroke: 2px white;
  }
  
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .footer-section {
    background-color: #0a58ca !important;
    border: none;
    color: #fff !important;
  }
  